@import url("https://fonts.googleapis.com/css?family=Dosis|Odibee+Sans|Poppins&display=swap");

html{
    background-color: #faf9f5;
}


/*
font-family: 'Poppins', ;
font-family: 'Odibee Sans', ;
font-family: 'Dosis', ;
*/

/*
background & light pinkish font: #faf9f5
Light Blue: #d6e7e5
Dark Grey: #333333

*/

